汤臣/audit/审单V2.0.yml
app:
  description: 审单agent2.0-精炼版
  icon: twisted_rightwards_arrows
  icon_background: '#FFEAD5'
  mode: advanced-chat
  name: 审单V2.0
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/deepseek:0.0.6@dd589dc093c8084925858034ab5ec1fdf0d33819f43226c2f8c4a749a9acbbb2
    version: null
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/tongyi:0.0.56@42a5fb7bc09b2f14f9d19f0ac79bec42c3c50dba07a52bf1b6d3abcd6906c739
    version: null
kind: app
version: 0.4.0
workflow:
  conversation_variables:
  - description: ''
    id: 6dc85eab-6916-4081-8176-62753e9498b8
    name: reply
    selector:
    - conversation
    - reply
    value: []
    value_type: array[object]
  - description: ''
    id: c529b084-5199-4bb1-ba20-5d5e9ae32525
    name: plan
    selector:
    - conversation
    - plan
    value: ''
    value_type: string
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        image_file_size_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInLoop: false
        sourceType: start
        targetType: tool
      id: 1754297268814-source-1757665567953-target
      selected: false
      source: '1754297268814'
      sourceHandle: source
      target: '1757665567953'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: tool
        targetType: llm
      id: 1757665567953-source-1761034123952-target
      source: '1757665567953'
      sourceHandle: source
      target: '1761034123952'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: if-else
      id: 1761034123952-source-1761039051462-target
      source: '1761034123952'
      sourceHandle: source
      target: '1761039051462'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: answer
      id: 1761039051462-61f3626a-641f-47c9-bf19-3008e8fa8cbe-17612124464750-target
      source: '1761039051462'
      sourceHandle: 61f3626a-641f-47c9-bf19-3008e8fa8cbe
      target: '17612124464750'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: answer
      id: 1761039051462-5425b183-a257-4e26-be97-6fd21b9ae3ed-17611144029150-target
      source: '1761039051462'
      sourceHandle: 5425b183-a257-4e26-be97-6fd21b9ae3ed
      target: '17611144029150'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: answer
      id: 1761039051462-4b3e2929-008a-4f96-9bb1-a711d23f52dd-1761120426372-target
      source: '1761039051462'
      sourceHandle: 4b3e2929-008a-4f96-9bb1-a711d23f52dd
      target: '1761120426372'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: if-else
        targetType: tool
      id: 1761039051462-true-1762918435472-target
      source: '1761039051462'
      sourceHandle: 'true'
      target: '1762918435472'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: tool
        targetType: llm
      id: 1762918435472-source-1761640825119-target
      source: '1762918435472'
      sourceHandle: source
      target: '1761640825119'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: answer
      id: 1761640825119-source-1761037932686-target
      source: '1761640825119'
      sourceHandle: source
      target: '1761037932686'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: tool
        targetType: assigner
      id: 1762918435472-source-1761641555543-target
      source: '1762918435472'
      sourceHandle: source
      target: '1761641555543'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: answer
        targetType: llm
      id: 1761120426372-source-1762413701159-target
      source: '1761120426372'
      sourceHandle: source
      target: '1762413701159'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: false
        title: 开始
        type: start
        variables: []
      height: 51
      id: '1754297268814'
      position:
        x: -1211.2337229207274
        y: 798.8687754407553
      positionAbsolute:
        x: -1211.2337229207274
        y: 798.8687754407553
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        desc: ''
        is_team_authorization: true
        output_schema: null
        paramSchemas:
        - auto_generate: null
          default: '%Y-%m-%d %H:%M:%S'
          form: form
          human_description:
            en_US: Time format in strftime standard.
            ja_JP: Time format in strftime standard.
            pt_BR: Time format in strftime standard.
            zh_Hans: strftime 标准的时间格式。
          label:
            en_US: Format
            ja_JP: Format
            pt_BR: Format
            zh_Hans: 格式
          llm_description: null
          max: null
          min: null
          name: format
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: UTC
          form: form
          human_description:
            en_US: Timezone
            ja_JP: Timezone
            pt_BR: Timezone
            zh_Hans: 时区
          label:
            en_US: Timezone
            ja_JP: Timezone
            pt_BR: Timezone
            zh_Hans: 时区
          llm_description: null
          max: null
          min: null
          name: timezone
          options:
          - icon: null
            label:
              en_US: UTC
              ja_JP: UTC
              pt_BR: UTC
              zh_Hans: UTC
            value: UTC
          - icon: null
            label:
              en_US: America/New_York
              ja_JP: America/New_York
              pt_BR: America/New_York
              zh_Hans: 美洲/纽约
            value: America/New_York
          - icon: null
            label:
              en_US: America/Los_Angeles
              ja_JP: America/Los_Angeles
              pt_BR: America/Los_Angeles
              zh_Hans: 美洲/洛杉矶
            value: America/Los_Angeles
          - icon: null
            label:
              en_US: America/Chicago
              ja_JP: America/Chicago
              pt_BR: America/Chicago
              zh_Hans: 美洲/芝加哥
            value: America/Chicago
          - icon: null
            label:
              en_US: America/Sao_Paulo
              ja_JP: America/Sao_Paulo
              pt_BR: América/São Paulo
              zh_Hans: 美洲/圣保罗
            value: America/Sao_Paulo
          - icon: null
            label:
              en_US: Asia/Shanghai
              ja_JP: Asia/Shanghai
              pt_BR: Asia/Shanghai
              zh_Hans: 亚洲/上海
            value: Asia/Shanghai
          - icon: null
            label:
              en_US: Asia/Ho_Chi_Minh
              ja_JP: Asia/Ho_Chi_Minh
              pt_BR: Ásia/Ho Chi Minh
              zh_Hans: 亚洲/胡志明市
            value: Asia/Ho_Chi_Minh
          - icon: null
            label:
              en_US: Asia/Tokyo
              ja_JP: Asia/Tokyo
              pt_BR: Asia/Tokyo
              zh_Hans: 亚洲/东京
            value: Asia/Tokyo
          - icon: null
            label:
              en_US: Asia/Dubai
              ja_JP: Asia/Dubai
              pt_BR: Asia/Dubai
              zh_Hans: 亚洲/迪拜
            value: Asia/Dubai
          - icon: null
            label:
              en_US: Asia/Kolkata
              ja_JP: Asia/Kolkata
              pt_BR: Asia/Kolkata
              zh_Hans: 亚洲/加尔各答
            value: Asia/Kolkata
          - icon: null
            label:
              en_US: Asia/Seoul
              ja_JP: Asia/Seoul
              pt_BR: Asia/Seoul
              zh_Hans: 亚洲/首尔
            value: Asia/Seoul
          - icon: null
            label:
              en_US: Asia/Singapore
              ja_JP: Asia/Singapore
              pt_BR: Asia/Singapore
              zh_Hans: 亚洲/新加坡
            value: Asia/Singapore
          - icon: null
            label:
              en_US: Europe/London
              ja_JP: Europe/London
              pt_BR: Europe/London
              zh_Hans: 欧洲/伦敦
            value: Europe/London
          - icon: null
            label:
              en_US: Europe/Berlin
              ja_JP: Europe/Berlin
              pt_BR: Europe/Berlin
              zh_Hans: 欧洲/柏林
            value: Europe/Berlin
          - icon: null
            label:
              en_US: Europe/Moscow
              ja_JP: Europe/Moscow
              pt_BR: Europe/Moscow
              zh_Hans: 欧洲/莫斯科
            value: Europe/Moscow
          - icon: null
            label:
              en_US: Australia/Sydney
              ja_JP: Australia/Sydney
              pt_BR: Australia/Sydney
              zh_Hans: 澳大利亚/悉尼
            value: Australia/Sydney
          - icon: null
            label:
              en_US: Pacific/Auckland
              ja_JP: Pacific/Auckland
              pt_BR: Pacific/Auckland
              zh_Hans: 太平洋/奥克兰
            value: Pacific/Auckland
          - icon: null
            label:
              en_US: Africa/Cairo
              ja_JP: Africa/Cairo
              pt_BR: Africa/Cairo
              zh_Hans: 非洲/开罗
            value: Africa/Cairo
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: select
        params:
          format: ''
          timezone: ''
        provider_id: time
        provider_name: time
        provider_type: builtin
        selected: false
        title: 获取当前时间
        tool_configurations:
          format:
            type: mixed
            value: '%Y-%m-%d %H:%M:%S'
          timezone:
            type: constant
            value: Asia/Shanghai
        tool_description: 一个用于获取当前时间的工具。
        tool_label: 获取当前时间
        tool_name: current_time
        tool_parameters: {}
        type: tool
        version: '2'
      height: 113
      id: '1757665567953'
      position:
        x: -920.7171621512352
        y: 798.8687754407553
      positionAbsolute:
        x: -920.7171621512352
        y: 798.8687754407553
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: 意图识别+结构化输出
        model:
          completion_params:
            temperature: 0.1
          mode: chat
          name: qwen-plus-latest
          provider: langgenius/tongyi/tongyi
        prompt_template:
        - id: system-main-structured
          role: system
          text: "# 审单助手-意图识别 Prompt V3\n\n## 角色/任务\n- 角色：订单审单问题解析工程师（QC）\n- 任务：根据用户输入进行意图识别与参数抽取；严格对齐结构化输出字段，仅返回\
            \ JSON 本体\n\n## 核心原则\n1. 不臆测：无法确定的字段不输出；缺关键值进入澄清流程\n2. 语义理解：基于用户输入的整体语义判断意图，不依赖特定关键词\n\
            3. 来源优先级：用户输入 > Few‑Shot > 默认值（不得造数）\n\n## 上下文处理\n### 当前时间：\n{{#1757665567953.text#}}\n\
            ### 已经规划的订单：\n{{#conversation.plan#}}\n- 规划订单的结构说明（参考 JSON Schema 形式）：\n\
            \  {\n    \"type\": \"object\",\n    \"properties\": {\n      \"strategy_orders\"\
            : {\n        \"description\": \"策略审单分组聚合结果\",\n        \"type\": \"object\"\
            ,\n        \"properties\": {\n          \"total_orders\": {\n        \
            \    \"description\": \"策略审单分组订单数量\",\n            \"type\": \"integer\"\
            \n          },\n          \"order_classifications\": {\n            \"\
            description\": \"策略审单分组内的订单列表\",\n            \"type\": \"array\",\n \
            \           \"items\": {\n              \"$ref\": \"#/$defs/order_object\"\
            \n            }\n          }\n        },\n      },\n      \"auto_review_orders\"\
            : {\n        \"description\": \"AI自动审单分组聚合结果\",\n        \"type\": \"\
            object\",\n        \"properties\": {\n          \"total_orders\": {\n\
            \            \"description\": \"AI自动审单分组订单数量\",\n            \"type\"\
            : \"integer\"\n          },\n          \"order_classifications\": {\n\
            \            \"description\": \"AI自动审单分组内的订单列表\",\n            \"type\"\
            : \"array\",\n            \"items\": {\n              \"$ref\": \"#/$defs/order_object\"\
            \n            }\n          }\n        },\n      }\n    },\n    \"$defs\"\
            : {\n      \"order_object\": {\n        \"description\": \"单个订单的标准结构\"\
            ,\n        \"type\": \"object\",\n        \"properties\": {\n        \
            \  \"order_id\": {\n            \"description\": \"订单唯一标识\",\n       \
            \     \"type\": \"string\"\n          },\n          \"orderStatus\": {\n\
            \            \"description\": \"订单状态，默认值为 \\\"WAIT_CHECK\\\"\",\n    \
            \        \"type\": \"string\"\n          },\n          \"saleOrderNo\"\
            : {\n            \"description\": \"内部销售订单号（DD开头）\",\n            \"type\"\
            : \"string\"\n          },\n          \"sellerRemark\": {\n          \
            \  \"description\": \"商家备注原文\",\n            \"type\": \"string\"\n  \
            \        },\n          \"processing_path\": {\n            \"description\"\
            : \"订单规划路径\",\n            \"type\": \"string\",\n            \"enum\"\
            : [\n              \"strategy\",\n              \"auto_review\"\n    \
            \        ]\n          },\n          \"category\": {\n            \"description\"\
            : \"订单分类\",\n            \"type\": \"string\"\n          },\n        },\n\
            \      }\n    }\n  }\n  \n### 业务定义：\n- DD开头的都可以认为是订单号，如：DD20251013000002\n\
            \n## 意图要点\n### 基本规则：\n- 当上下文不存在已经规划的订单时，需要直接进入订单查询规划\n-\n\n\n### 1. 订单查询规划\n\
            **意图定义**：分析客户的需求，根据输入的时间范围来查询待确认的订单并进行规划。如果客户没有指定时间范围，则默认查询最近三天的订单。\n\n\
            **输出参数**：\n- intent: \"订单查询规划\"（必填）\n- sale_order_create_time_start: 必填\n\
            - sale_order_create_time_end: 必填\n\n---\n\n### 2. 策略审单\n**意图定义**：用户要求执行策略审单，处理简单备注的订单。如：用户表达\"\
            策略审单\"、\"策略审核\"、\"OCS自动审核订单\"等意图时，属于此意图。需要从上下文已经规划的订单 中提取 strategy_orders\
            \ 策略审单分组内的订单列表。\n\n**输出参数**：\n- intent: \"策略审单\"（必填）\n- processing_path:\
            \ 必填（固定值 \"strategy\"）\n- strategy_orders: 必填（从上下文已经规划的订单中提取的 strategy_orders.order_classifications\
            \ 数组的紧凑字符串）\n\n---\n\n### 3. AI自动审单\n**意图定义**：用户要求执行AI自动审单，处理常规指定发货仓需求的订单。如：用户表达\"\
            AI自动审单\"、\"AI审单\"、\"自动审单\"、\"AI协助审单\"等意图时，属于此意图。需要从上下文已经规划的订单中提取 auto_review_orders\
            \ AI自动审单分组内的订单列表。\n\n**输出参数**：\n- intent: \"AI自动审单\"（必填）\n- processing_path:\
            \ 必填（固定值 \"auto_review\"）\n- auto_review_orders: 必填（从上下文已经规划的订单中提取的 auto_review_orders.order_classifications\
            \ 数组的紧凑字符串）\n\n---\n\n## 评分与澄清规则\n- **置信度评分**：\n  - confidence ∈ [0,1]，必返\n\
            \  - confidence_level ∈ {low, medium, high}，必返\n  - confidence_reason：12~50字，必返\n\
            \  - 阈值：<0.60=low；0.60~0.85=medium；≥0.85=high；仅在关键信息完备且无不当推断时可到 1.00\n\
            \n- **澄清触发条件**：\n  - clarify_needed：字符串 'true' 或 'false'，必返\n  - 当关键参数缺失/歧义时，clarify_needed\
            \ 置为 'true'，并返回 missing_fields、clarify_question（中文一句最佳澄清问法）\n  - 无法明确识别意图时，clarify_needed='true'，clarify_question\
            \ 输出：\"不好意思，我还没完全明白你的意思。能否用一句话告诉我：要做什么？例如： • 查询今天待确认的订单 • 查询10月15日的订单\"\
            \n\n## CoT（隐式）\n- 步骤：意图判定 → 字段抽取 → 默认/校验 → 置信度与等级 → 澄清决策\n- 最终仅输出 JSON，不展示思考过程\n\
            \n## 输出规范\n- 仅返回结构化 JSON；禁止空键、null、unknown、占位符\n- 必须字段：intent、confidence、confidence_level、confidence_reason、clarify_needed\n\
            - 按需返回其他字段，缺值不要造\n\n## Few‑Shot（示例，稳定模型行为）\n- 示例1：\n  输入：最近的订单\n  输出：{\"\
            intent\":\"订单查询规划\",\"sale_order_create_time_start\":\"2025-11-08 00:00:00\"\
            ,\"sale_order_create_time_end\":\"2025-11-10 23:59:59\",\"clarify_needed\"\
            :\"false\",\"confidence\":0.92,\"confidence_level\":\"high\",\"confidence_reason\"\
            :\"时间范围明确（最近三天），意图清晰，信息完整。\"}\n\n- 示例2：\n  输入：OCS自动审核订单\n  输出：{\"intent\"\
            :\"策略审单\",\"processing_path\":\"strategy\",\"strategy_orders\":\"[{\\\"\
            order_id\\\":\\\"1977560114157285376\\\",\\\"orderStatus\\\":\\\"WAIT_CHECK\\\
            \",\\\"saleOrderNo\\\":\\\"DD20251013000008\\\",\\\"sellerRemark\\\":\\\
            \"请合并发货，谢谢！\\\",\\\"processing_path\\\":\\\"strategy\\\",\\\"category\\\
            \":\\\"合并拆分\\\"}]\",\"clarify_needed\":\"false\",\"confidence\":0.90,\"\
            confidence_level\":\"high\",\"confidence_reason\":\"识别为策略审单意图，已从上下文已经规划的订单中提取strategy_orders数据。\"\
            }\n\n- 示例3（澄清）：\n  输入：查询订单\n  输出：{\"intent\":\"订单查询规划\",\"clarify_needed\"\
            :\"true\",\"missing_fields\":[\"sale_order_create_time_start\",\"sale_order_create_time_end\"\
            ],\"clarify_question\":\"请提供查询条件：时间范围（如\\\"最近的订单\\\"、\\\"10月13日的订单\\\"\
            ）。\",\"confidence\":0.65,\"confidence_level\":\"medium\",\"confidence_reason\"\
            :\"意图明确但缺少具体查询条件，需澄清。\"}"
        - id: 7411c93a-806b-480c-b2a3-2a9c297fe047
          role: user
          text: '{{#sys.query#}}

            {{#1757665567953.text#}}

            {{#conversation.plan#}}'
        selected: false
        structured_output:
          schema:
            properties:
              auto_review_orders:
                description: AI自动审单订单数据，从 conversation.plan 提取的 auto_review_orders.order_classifications
                  数组的紧凑字符串（去除所有空格和换行，进行 JSON 转义）；AI自动审单中必填
                type: string
              clarify_needed:
                description: 是否需要澄清，取值为："true"、"false"
                type: string
              clarify_question:
                description: 澄清问题，需澄清时返回
                type: string
              confidence:
                description: 置信度，范围 [0,1]
                maximum: 1
                minimum: 0
                type: number
              confidence_level:
                description: 置信度等级，取值为：low、medium、high
                enum:
                - low
                - medium
                - high
                type: string
              confidence_reason:
                description: 置信度原因说明，12~50字
                type: string
              intent:
                description: 意图类型，取值为：订单查询规划、策略审单、AI自动审单、直接确认
                enum:
                - 订单查询规划
                - 策略审单
                - AI自动审单
                - 直接确认
                type: string
              missing_fields:
                description: 缺失字段列表，需澄清时返回
                items:
                  type: string
                type: array
              processing_path:
                description: 处理路径，取值为："strategy"、"auto_review"；策略审单和AI自动审单中必填
                type: string
              sale_order_create_time_end:
                description: 订单创建结束时间，格式 "YYYY-MM-DD HH:mm:ss"
                type: string
              sale_order_create_time_start:
                description: 订单创建开始时间，格式 "YYYY-MM-DD HH:mm:ss"
                type: string
              strategy_orders:
                description: 策略审单订单数据，从 conversation.plan 提取的 strategy_orders.order_classifications
                  数组的紧凑字符串（去除所有空格和换行，进行 JSON 转义）；策略审单中必填
                type: string
            required:
            - intent
            - confidence
            - confidence_level
            - confidence_reason
            - clarify_needed
            type: object
        structured_output_enabled: true
        title: 意图识别
        type: llm
        variables: []
        vision:
          enabled: false
      height: 115
      id: '1761034123952'
      position:
        x: -624.103628007842
        y: 798.8687754407553
      positionAbsolute:
        x: -624.103628007842
        y: 798.8687754407553
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: '{{#1761640825119.text#}}'
        desc: ''
        selected: false
        title: plan订单规划结果
        type: answer
        variables: []
      height: 102
      id: '1761037932686'
      position:
        x: 774.6089614499888
        y: 607.196880733904
      positionAbsolute:
        x: 774.6089614499888
        y: 607.196880733904
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: is
            id: c696934d-4229-434b-b9be-f6fdb921e91a
            value: 订单查询规划
            varType: object
            variable_selector:
            - '1761034123952'
            - structured_output
            - intent
          - comparison_operator: is
            id: 18de5f35-474d-446a-805d-b2b6186f5e1b
            value: 'false'
            varType: object
            variable_selector:
            - '1761034123952'
            - structured_output
            - clarify_needed
          id: 'true'
          logical_operator: and
        - case_id: 5425b183-a257-4e26-be97-6fd21b9ae3ed
          conditions:
          - comparison_operator: is
            id: 7f5a8170-e9b4-4dd1-9402-19e714798fc1
            value: 策略审单
            varType: object
            variable_selector:
            - '1761034123952'
            - structured_output
            - intent
          - comparison_operator: is
            id: 1884f9f7-868f-414e-8544-f50b0e4eedb7
            value: 'false'
            varType: object
            variable_selector:
            - '1761034123952'
            - structured_output
            - clarify_needed
          id: 5425b183-a257-4e26-be97-6fd21b9ae3ed
          logical_operator: and
        - case_id: 4b3e2929-008a-4f96-9bb1-a711d23f52dd
          conditions:
          - comparison_operator: is
            id: 1eafa64b-2d16-4b87-a9b4-606f4607c947
            value: AI自动审单
            varType: object
            variable_selector:
            - '1761034123952'
            - structured_output
            - intent
          - comparison_operator: is
            id: 1855402e-163f-4eaf-8a9a-7d7a35a27ea7
            value: 'false'
            varType: object
            variable_selector:
            - '1761034123952'
            - structured_output
            - clarify_needed
          id: 4b3e2929-008a-4f96-9bb1-a711d23f52dd
          logical_operator: and
        - case_id: 61f3626a-641f-47c9-bf19-3008e8fa8cbe
          conditions:
          - comparison_operator: is
            id: e8fb2e52-e2ad-4eab-ab8b-133d6c305e1d
            value: 未识别意图
            varType: object
            variable_selector:
            - '1761034123952'
            - structured_output
            - intent
          - comparison_operator: is
            id: d6b3224d-b524-47f6-8f95-80e66d23a267
            value: 'true'
            varType: object
            variable_selector:
            - '1761034123952'
            - structured_output
            - clarify_needed
          id: 61f3626a-641f-47c9-bf19-3008e8fa8cbe
          logical_operator: or
        desc: ''
        selected: false
        title: 条件分支
        type: if-else
      height: 371
      id: '1761039051462'
      position:
        x: -277.18575428186614
        y: 798.8687754407553
      positionAbsolute:
        x: -277.18575428186614
        y: 798.8687754407553
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: '{{#1761034123952.structured_output#}}'
        desc: ''
        selected: false
        title: R1-策略审单结果
        type: answer
        variables: []
      height: 102
      id: '17611144029150'
      position:
        x: 169.4700029699518
        y: 751.2817846654832
      positionAbsolute:
        x: 169.4700029699518
        y: 751.2817846654832
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: '{{#1761034123952.structured_output#}}'
        desc: ''
        selected: false
        title: R2-指定逻辑仓结果
        type: answer
        variables: []
      height: 102
      id: '1761120426372'
      position:
        x: 169.4700029699518
        y: 881.931395861127
      positionAbsolute:
        x: 169.4700029699518
        y: 881.931395861127
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: '{{#1761034123952.structured_output.clarify_question#}}'
        desc: ''
        selected: false
        title: 未识别意图
        type: answer
        variables: []
      height: 102
      id: '17612124464750'
      position:
        x: 163.11667712877318
        y: 1075.1563343771586
      positionAbsolute:
        x: 163.11667712877318
        y: 1075.1563343771586
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params:
            temperature: 0.1
          mode: chat
          name: qwen-plus-latest
          provider: langgenius/tongyi/tongyi
        prompt_template:
        - id: fcaf378b-4a47-483d-9f67-418bec2f31b1
          role: system
          text: "## 角色/任务\n- 角色：订单规划报告生成器（Report Formatter）\n- 任务：解析上游 Agent 返回的 JSON（含订单分类统计与详情），按规范模板渲染成人类可读的\
            \ Markdown 规划决策报告，仅输出报告文本（不输出 JSON 或代码块）\n\n## 核心原则\n1. 数据驱动：严格基于上游 JSON\
            \ 统计与分类数据生成，不得臆造数字或订单\n2. 格式约束：输出 Markdown 格式，仅使用模板规定的分隔线与表格；禁止输出 JSON、代码块、多余空行\n\
            3. 完整性：必须列出单号、分类、详细备注（勿总结和省略）\n\n## 上下文处理\n- 输入1（来自 O1-plan 的 text）：上游\
            \ Agent 的原始文本输出（含 JSON）\n- 输入2（来自 意图识别的 structured_output）：包含 intent 等信息，用于记录用户意图\n\
            - 输入3（来自 sys.query）：原始用户查询，用于记录用户需求\n- 解析策略：\n  • 从 JSON 中提取：`strategy_orders`、`manual_orders`、`auto_review_orders`\
            \ 三个分组的 `total_orders` 和 `order_classifications`\n  • 计算占比：各路径数量 / total_orders\
            \ × 100%，保留 1 位小数\n\n## 输出规范\n- 严格按以下 Markdown 模板输出（仅替换变量值，保留结构）：\n```markdown\n\
            ## 待审核订单总结\n\n\n### 订单审核概览\n\n**总订单数**：{total_orders}个  \n\n---\n\n##\
            \ 处理策略\n\n| 处理路径 | 数量 | 占比 | \n|----------|------|------|\n| OCS自动审核订单\
            \ | {strategy_count} | {strategy_percentage}% | \n| AI协助审单 | {auto_review_count}\
            \ | {auto_review_percentage}% | \n| 人工介入 | {manual_count} | {manual_percentage}%\
            \ | \n\n---\n\n### 待处理订单列表\n\n**OCS自动审核订单：**  \n{strategy_orders_list}\n\
            \n**AI协助审单订单：**  \n{auto_review_orders_list}\n\n**人工介入订单：**  \n{manual_orders_list}\n\
            \n---\n\n### 下一步行动\n \n1. OCS自动审核订单：继续处理输入1\n2. AI协助审单订单：继续处理输入2\n3. 人工介入订单：[跳转OCS](http://tcbj-uat.c074877a943d54d5ab95344b44e7c71fc.cn-shenzhen.alicontainer.com/pcp/#/orderCenter/saleOrder\
            \ \"超链接title\")\n```\n\n- 变量替换要求：\n  • {total_orders}：直接使用数字\n  • {strategy_count}\
            \ / {auto_review_count} / {manual_count}：对应分组的 total_orders 值\n  • {strategy_percentage}\
            \ / {auto_review_percentage} / {manual_percentage}：计算后保留 1 位小数（如 50.0%），计算公式：分组数量\
            \ / total_orders × 100%\n  • {strategy_orders_list} / {auto_review_orders_list}\
            \ / {manual_orders_list}：按路径罗列订单，每个订单格式：\n    - 订单{全局序号}：{saleOrderNo}\n\
            \    - 商家备注：{sellerRemark}\n    - 需求分类：{category}\n    - 空行分隔每个订单\n  \
            \  - 序号从1开始，按OCS自动审核订单 → AI协助审单订单 → 人工介入订单的顺序全局连续编号\n    - 无订单时输出空内容（不输出\"\
            （无）\"）\n- 禁止输出 JSON 与代码块\n\n## CoT（隐藏式推理）\n- 内部步骤：解析上游 JSON → 统计汇总 → 按路径分组\
            \ → 计算占比 → 全局连续编号订单（OCS自动审核订单 → AI协助审单订单 → 人工介入订单） → 格式化订单列表 → 渲染 Markdown\
            \ 文本\n- 禁止在答案中暴露思考过程\n\n## Few-Shot\n### 示例1（正常）\n用户输入（上游 JSON）：\n```json\n\
            {\n  \"strategy_orders\": {\n    \"total_orders\": 2,\n    \"order_classifications\"\
            : [\n      {\n        \"saleOrderNo\": \"DD20251014000010\",\n       \
            \ \"category\": \"日期时间类\",\n        \"sellerRemark\": \"2025/9/24 \"\n\
            \      },\n      {\n        \"saleOrderNo\": \"DD20251014000009\",\n \
            \       \"category\": \"数量金额类\",\n        \"sellerRemark\": \"50000\"\n\
            \      }\n    ]\n  },\n  \"manual_orders\": {\n    \"total_orders\": 1,\n\
            \    \"order_classifications\": [\n      {\n        \"saleOrderNo\": \"\
            DD20251014000005\",\n        \"category\": \"商品效期\",\n        \"sellerRemark\"\
            : \"要生产日期剩余2/3以上效期产品效期差无法入仓， 京东POP\"\n      }\n    ]\n  },\n  \"auto_review_orders\"\
            : {\n    \"total_orders\": 1,\n    \"order_classifications\": [\n    \
            \  {\n        \"saleOrderNo\": \"DD20251014000002\",\n        \"category\"\
            : \"指定发货仓要求\",\n        \"sellerRemark\": \"昆山仓 \"\n      }\n    ]\n \
            \ }\n}\n```\n\n助理输出（Markdown 报告）：\n```markdown\n## 待审核订单总结\n\n\n### 订单审核概览\n\
            \n**总订单数**：4个  \n\n---\n\n## 处理策略\n\n| 处理路径 | 数量 | 占比 | \n|----------|------|------|\n\
            | OCS自动审核订单 | 2 | 50.0% | \n| AI协助审单 | 1 | 25.0% | \n| 人工介入 | 1 | 25.0%\
            \ | \n\n---\n\n### 待处理订单列表\n\n**OCS自动审核订单：**  \n\n订单1：DD20251014000010\n\
            - 商家备注：2025/9/24 \n- 需求分类：日期时间类\n\n订单2：DD20251014000009\n- 商家备注：50000\n\
            - 需求分类：数量金额类\n\n**AI协助审单订单：**  \n\n订单3：DD20251014000002\n- 商家备注：昆山仓 \n\
            - 需求分类：指定发货仓要求\n\n**人工介入订单：**  \n订单4：DD20251014000005\n- 商家备注：要生产日期剩余2/3以上效期产品效期差无法入仓，\
            \ 京东POP\n- 需求分类：商品效期\n\n---\n\n### 下一步行动\n \n1. OCS自动审核订单：继续处理输入1\n2.\
            \ AI协助审单订单：继续处理输入2\n3. 人工介入订单：[跳转OCS](http://tcbj-uat.c074877a943d54d5ab95344b44e7c71fc.cn-shenzhen.alicontainer.com/pcp/#/orderCenter/saleOrder\
            \ \"超链接title\")\n```\n\n"
        - id: d1cae50e-148c-4e65-8b1d-cb03f1faf965
          role: user
          text: '{{#1762918435472.text#}}

            {{#1761034123952.structured_output#}}

            {{#sys.query#}}'
        selected: false
        title: 总结回复
        type: llm
        vision:
          enabled: false
      height: 87
      id: '1761640825119'
      position:
        x: 467.99373621961433
        y: 607.196880733904
      positionAbsolute:
        x: 467.99373621961433
        y: 607.196880733904
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        items:
        - input_type: variable
          operation: over-write
          value:
          - '1762918435472'
          - text
          variable_selector:
          - conversation
          - plan
          write_mode: over-write
        selected: false
        title: 变量赋值
        type: assigner
        version: '2'
      height: 83
      id: '1761641555543'
      position:
        x: 467.99373621961433
        y: 475.61745725160426
      positionAbsolute:
        x: 467.99373621961433
        y: 475.61745725160426
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: deepseek-chat
          provider: langgenius/deepseek/deepseek
        prompt_template:
        - id: 93a722c0-818e-4385-a744-23e352139085
          role: system
          text: "角色/任务\n- 角色：策略审单结果总结器（Report Formatter）。\n- 任务：解析上游策略审单工具输出的执行结果JSON，按规范模板渲染成人类可读的Markdown执行结果报告，仅输出报告文本（不输出JSON或代码块）。\n\
            \n核心原则\n1) 数据驱动：严格基于execution_summary和execution_results进行统计与呈现，不得臆造数字或订单。\n\
            2) 面向用户：只呈现可理解的统计、订单列表与建议，不暴露底层工具状态字段。\n3) 简洁高效：输出结构固定，减少冗余描述。\n\n上下文处理\n\
            - 输入1：execution_summary（来自策略审单工具的JSON输出，包含total_orders、success_count、failed_count、execution_time_minutes）\n\
            - 输入2：execution_results（订单明细数组，每个订单包含order_no、seller_remark、status、error_message）\n\
            - 输入3：sys.query或上游指令文本（补充上下文，不用于统计）\n- 解析策略：\n  • 从execution_summary中提取汇总统计：处理总数、成功数、失败数、执行时间\n\
            \  • 从execution_results中提取订单明细：订单号、商家备注、状态、错误信息\n  • 按status分类：success显示\"\
            ✅ 成功\"，failed显示\"❌ 失败\"\n\n输出规范\n- 严格按以下Markdown模板输出（仅替换变量值，保留结构）：\n```markdown\n\
            ## ⚙️ 订单审核策略执行完成！\n\n**执行结果：**  \n• 处理订单：{total_orders}个  \n• 成功处理：{success_count}个订单\
            \  \n• 失败订单：{failed_count}个订单  \n• 执行时间：{execution_time_minutes}分钟\n\n\
            ---\n\n## 订单明细\n\n| 订单号 | 商家备注 | 状态 | 错误信息 |\n|--------|----------|------|----------|\n\
            {execution_results_rows}\n\n---\n\n## 执行说明\n\n{execution_summary_text}\n\
            \n---\n\n## 下一步行动\n\n{next_steps_suggestions}\n```\n\n- 变量替换要求：\n  • {total_orders}/{success_count}/{failed_count}/{execution_time_minutes}：取自execution_summary。\n\
            \  • {execution_results_rows}：为每个订单生成表格行：`| {order_no} | {seller_remark}\
            \ | {status_icon} {status} | {error_message} |`。status为success显示\"✅ 成功\"\
            ，failed显示\"❌ 失败\"，error_message为空显示\"-\"。\n  • {execution_summary_text}：简述执行结果，如\"\
            共处理2单，全部成功；无失败订单\"。\n  • {next_steps_suggestions}：根据执行结果给出建议，例如\"策略审单已完成，建议继续处理AI自动审单与人工审核订单\"\
            。\n- 当execution_results为空时：\n  • {execution_results_rows}输出\"（无订单明细）\"\
            。\n- 禁止输出JSON与代码块。\n\nCoT（隐藏式推理）\n- 内部步骤：解析execution_summary/execution_results\
            \ → 提取统计与明细 → 格式化表格 → 生成说明与建议 → 渲染Markdown。\n- 禁止在答案中暴露思考过程。\n\nFew-shot\n\
            示例（执行成功2单，含两条明细）\n用户输入（execution_summary + execution_results）：\n{\n  \"\
            execution_summary\": {\n    \"total_orders\": 2,\n    \"success_count\"\
            : 2,\n    \"failed_count\": 0,\n    \"execution_time_minutes\": 1\n  },\n\
            \  \"execution_results\": [\n    {\"order_no\": \"DD20250925000005\",\
            \ \"seller_remark\": \"没有特殊要求测试\", \"status\": \"success\", \"error_message\"\
            : \"-\"},\n    {\"order_no\": \"DD20250925000003\", \"seller_remark\"\
            : \"无特殊操作\", \"status\": \"success\", \"error_message\": \"-\"}\n  ]\n\
            }\n助理输出（Markdown报告）：\n## ⚙️ 订单审核策略执行完成！\n\n**执行结果：**  \n• 处理订单：2个  \n\
            • 成功处理：2个订单  \n• 失败订单：0个订单  \n• 执行时间：1分钟\n\n---\n\n## 订单明细\n\n| 订单号 |\
            \ 商家备注 | 状态 | 错误信息 |\n|--------|----------|------|----------|\n| DD20250925000005\
            \ | 没有特殊要求测试 | ✅ 成功 | - |\n| DD20250925000003 | 无特殊操作 | ✅ 成功 | - |\n\n\
            ---\n\n## 执行说明\n\n共处理2单，全部成功；无失败订单。\n\n---\n\n## 下一步行动\n\n策略审单已完成。建议：\n\
            - 继续处理AI自动审单与人工审核订单\n- 回顾关键词配置，保持\"无备注类\"策略的稳定性\n"
        - id: d7622016-837f-40b4-9de4-a90ecb4a878b
          role: user
          text: '{{#1762343018500.text#}}

            {{#1761034123952.text#}}

            {{#sys.query#}}

            {{#conversation.plan#}}'
        selected: true
        title: O2_R1策略审单总结
        type: llm
        vision:
          enabled: false
      height: 87
      id: '1762396866510'
      position:
        x: 482.7564037229895
        y: 766.0444521688584
      positionAbsolute:
        x: 482.7564037229895
        y: 766.0444521688584
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: deepseek-chat
          provider: langgenius/deepseek/deepseek
        prompt_template:
        - id: 2f17c724-9a49-4726-a2d9-5bd2518dd0f1
          role: system
          text: "角色/任务\n- 角色：指定逻辑仓执行结果总结器（R2-总结）。\n- 任务：消费上一节点的执行结果 JSON（exec_json），生成用户可读的\
            \ Markdown 报告；仅输出报告文本（不输出 JSON 或代码块）。\n\n核心原则\n1) 面向用户：呈现关键统计、逐单结果与下一步建议，不暴露底层工具回包细节。\n\
            2) 清晰可核对：逐单表格包含订单号、目标仓\"名称\"、执行状态与错误信息（名称优先，无法获取时再退化显示 code/id）。\n3) 简洁：不输出中间推理或技术实现细节。\n\
            \n上下文处理\n- 输入：exec_json，结构包含 execution_summary、execution_results、execution_context、tool_info、notes。\n\
            - 取数规则：\n  • 统计：execution_summary 中 total_orders/success_count/failed_count/execution_time_minutes\n\
            \  • 明细：execution_results 数组；无明细则表格输出\"（无逐单明细）\"\n  • 目标仓：优先显示 logical_warehouse_name；如无，则退化显示\"\
            {logical_warehouse_code}/{logical_warehouse_id}\"\n\n输出规范（Markdown）\n\
            ```markdown\n## ⚙️ 指定发货仓并确认订单完成！\n\n**执行结果：**  \n• 处理订单：{total_orders}个\
            \  \n• 成功处理：{success_count}个订单  \n• 失败订单：{failed_count}个订单  \n• 执行时间：{execution_time_minutes}分钟\n\
            \n---\n\n## 详细执行结果\n\n| 订单号 | 目标仓（名称） | 发货仓状态 | 确认状态 | 错误信息 |\n|--------|----------------|------------|----------|----------|\n\
            {single_order_rows}\n\n---\n\n## 执行详情\n\n{execution_summary_text}\n\n\
            ---\n\n## 下一步行动\n\n{next_steps_suggestions}\n```\n\n变量替换要求\n- {single_order_rows}：逐条生成表格行，格式：`|\
            \ {saleOrderNo} | {logical_warehouse_name_or_fallback} | {set_status_icon}\
            \ {set_warehouse_status} | {confirm_status_icon} {confirm_status} | {error_message_or_dash}\
            \ |`；\n  • {logical_warehouse_name_or_fallback} 优先使用 `logical_warehouse_name`，若缺失则使用\
            \ `{logical_warehouse_code}/{logical_warehouse_id}`。\n  • 状态 success 显示\"\
            ✅ 成功\"，failed 显示\"❌ 失败\"，空错误显示\"-\"。\n- {execution_summary_text}：示例：\"\
            共处理{total_orders}单，其中{success_count}单成功，{failed_count}单失败。\" 如有失败，追加\"\
            失败订单建议转人工或更换仓库重试\"。\n- {next_steps_suggestions}：\n  • 若有失败：列出失败订单号与建议操作；\n\
            \  • 若全部成功：提示已进入待配货状态，可进行后续配货；\n  • 如 notes 存在，择要附加在结尾。\n\nCoT（隐藏式推理）\n\
            - 内部步骤：解析exec_json → 提取统计与明细 → 格式化表格 → 生成说明与建议 → 渲染Markdown。\n- 禁止在答案中暴露思考过程。\n\
            \nFew-shot\n输入（exec_json）：\n{\n  \"execution_summary\": {\"total_orders\"\
            : 1, \"success_count\": 1, \"failed_count\": 0, \"execution_time_minutes\"\
            : 1},\n  \"execution_results\": [\n    {\"saleOrderNo\": \"DD20250925000002\"\
            , \"order_id\": \"1971031596044873728\", \"logical_warehouse_name\": \"\
            药业产成品（昆山）合格仓\", \"logical_warehouse_code\": \"YY032\", \"logical_warehouse_id\"\
            : \"1318382550221406291\", \"set_warehouse_status\": \"success\", \"confirm_status\"\
            : \"success\", \"error_message\": \"-\"}\n  ],\n  \"execution_context\"\
            : {\"processing_path\": \"auto_review\"},\n  \"tool_info\": {\"set_warehouse_tool_success\"\
            : true, \"confirm_tool_success\": true},\n  \"notes\": []\n}\n输出（Markdown）：\n\
            ## ⚙️ 指定发货仓并确认订单完成！\n\n**执行结果：**  \n• 处理订单：1个  \n• 成功处理：1个订单  \n• 失败订单：0个订单\
            \  \n• 执行时间：1分钟\n\n---\n\n## 详细执行结果\n\n| 订单号 | 目标仓（名称） | 发货仓状态 | 确认状态\
            \ | 错误信息 |\n|--------|----------------|------------|----------|----------|\n\
            | DD20250925000002 | 药业产成品（昆山）合格仓 | ✅ 成功 | ✅ 成功 | - |\n\n---\n\n## 执行详情\n\
            \n共处理1单，其中1单成功，0单失败。\n\n---\n\n## 下一步行动\n\n成功订单已进入待配货状态，请继续后续配货操作。\n\n"
        - id: 814836f9-41a1-4eaa-97c9-6cd9e4a26a9b
          role: user
          text: '{{#1762416339107.text#}}

            {{#1761034123952.text#}}

            {{#sys.query#}}

            {{#conversation.plan#}}'
        selected: false
        title: O4_R2指定逻辑仓总结
        type: llm
        vision:
          enabled: false
      height: 87
      id: '1762413701159'
      position:
        x: 488.66147072433944
        y: 881.931395861127
      positionAbsolute:
        x: 488.66147072433944
        y: 881.931395861127
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        is_team_authorization: true
        paramSchemas:
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: 时间范围
            ja_JP: 时间范围
            pt_BR: 时间范围
            zh_Hans: 时间范围
          label:
            en_US: sale_order_create_time_start
            ja_JP: sale_order_create_time_start
            pt_BR: sale_order_create_time_start
            zh_Hans: sale_order_create_time_start
          llm_description: 时间范围
          max: null
          min: null
          name: sale_order_create_time_start
          options: []
          placeholder:
            en_US: ''
            ja_JP: ''
            pt_BR: ''
            zh_Hans: ''
          precision: null
          required: true
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: 时间范围
            ja_JP: 时间范围
            pt_BR: 时间范围
            zh_Hans: 时间范围
          label:
            en_US: sale_order_create_time_end
            ja_JP: sale_order_create_time_end
            pt_BR: sale_order_create_time_end
            zh_Hans: sale_order_create_time_end
          llm_description: 时间范围
          max: null
          min: null
          name: sale_order_create_time_end
          options: []
          placeholder:
            en_US: ''
            ja_JP: ''
            pt_BR: ''
            zh_Hans: ''
          precision: null
          required: true
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: 输入
            ja_JP: 输入
            pt_BR: 输入
            zh_Hans: 输入
          label:
            en_US: query
            ja_JP: query
            pt_BR: query
            zh_Hans: query
          llm_description: 输入
          max: null
          min: null
          name: query
          options: []
          placeholder:
            en_US: ''
            ja_JP: ''
            pt_BR: ''
            zh_Hans: ''
          precision: null
          required: true
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: 意图
            ja_JP: 意图
            pt_BR: 意图
            zh_Hans: 意图
          label:
            en_US: intent
            ja_JP: intent
            pt_BR: intent
            zh_Hans: intent
          llm_description: 意图
          max: null
          min: null
          name: intent
          options: []
          placeholder:
            en_US: ''
            ja_JP: ''
            pt_BR: ''
            zh_Hans: ''
          precision: null
          required: true
          scope: null
          template: null
          type: string
        params:
          intent: ''
          query: ''
          sale_order_create_time_end: ''
          sale_order_create_time_start: ''
        provider_id: 019a761b-217b-7eab-97bc-b2521cb73b4c
        provider_name: O1-plan订单规划V2
        provider_type: workflow
        selected: false
        title: O1-plan订单规划V2
        tool_configurations: {}
        tool_description: plan订单规划执行agent
        tool_label: O1-plan订单规划V2
        tool_name: O1_planV2
        tool_node_version: '2'
        tool_parameters:
          intent:
            type: mixed
            value: '{{#1761034123952.structured_output.intent#}}'
          query:
            type: mixed
            value: '{{#sys.query#}}'
          sale_order_create_time_end:
            type: mixed
            value: '{{#1761034123952.structured_output.sale_order_create_time_end#}}'
          sale_order_create_time_start:
            type: mixed
            value: '{{#1761034123952.structured_output.sale_order_create_time_start#}}'
        type: tool
      height: 51
      id: '1762918435472'
      position:
        x: 163.11667712877318
        y: 607.196880733904
      positionAbsolute:
        x: 163.11667712877318
        y: 607.196880733904
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    viewport:
      x: 263.24016448684336
      y: -175.95312897012656
      zoom: 0.6773843546712494
  rag_pipeline_variables: []
